body{
    position: relative;
}
.box{
    top:10px;
    
    height: 500px;
    width: 500px;
    background-color: antiquewhite;
    margin-top:-400px ;
}
.box1{
    
    height: 50px;
    width: 50px;
    background-color: brown;

}
.box2{
    
    height: 500px;
    width: 500px;
    background-color: rgba(19, 19, 203, 0.414);
    
}